<html>
<head>
    <style>
        .bodycenter {
            margin: auto;
            width: 60%;
            padding: 10px;
        }
        .footer{
            text-align: center;
            border: 1px solid #73AD21;
        }
    </style>

    <script type="text/javascript"
            src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
    <script type="text/javascript">
        {#Helper functions#}
      function getFormData($form) {
        var unindexed_array = $form.serializeArray();
        var indexed_array = {};

        $.map(unindexed_array, function (n, i) {
          indexed_array[n['name']] = n['value'];
        });

        return indexed_array;
      }
      function generateResponse(msg, color) {
        return `<p style="color:${color}"> ${msg} </p>`;
      }

      function generateErrors(task, status, obj_resp) {
        let html_resp = generateResponse(
          `|ERROR-${task}| ${status} - Bad Input/Request`,
          'red'
        );
        for (const inputField of Object.keys(obj_resp)) {
          inputFieldErrors = obj_resp[inputField];
          for (const index in inputFieldErrors) {
            html_resp += generateResponse(
              `${inputField} - ${inputFieldErrors[index]}`, 'black');
          }
        }

        return html_resp;
      }
    </script>
</head>
<body><h1>Assignment6</h1>

<div id="response_message" class="footer">
    <p>{{ message | safe}}</p>
</div>

<div class="bodycenter">

    <form id="add_movie" action="add_movie" method="post">
        <h4>Insert Movie</h4>
        <br>
        Year: <input type="text" name="year"><br>
        Title: <input type="text" name="title"><br>
        Director: <input type="text" name="director"><br>
        Actor: <input type="text" name="actor"><br>
        Release Date: <input type="text" name="release_date"><br>
        Rating: <input type="text" name="rating"><br>
        <input type="submit" value="Insert Movie">
    </form>
    <script type="application/javascript">
      $("#add_movie").submit(function (event) {
        event.preventDefault();
        let inputs = getFormData($("#add_movie"));
        let request = $.ajax({
          type: "POST",
          url: "/add_movie",
          data: inputs
        });
        request
          .done(function (msg) {
            let html_resp = generateResponse("|SUCCESS-add_movie| 200", "green");
            html_resp += generateResponse(msg, 'black');
            $( '#response_message' ).html(html_resp)
          })
          .fail(function (xhr) {
            if (xhr.status == 400){
              $( '#response_message' ).html(generateErrors(
                'add_movie',
                400,
                JSON.parse(xhr.responseText)
              ));
            }
            else {
              let html_resp = generateResponse(
                `|ERROR-add_movie| ${xhr.status} - Internal error`,
                'red'
              );
              html_resp += generateResponse(JSON.parse(xhr.responseText), 'black');
              $( '#response_message' ).html(html_resp);
            }
          })
      })
    </script>
    <div class="footer">
    </div>
</div>
<div class="bodycenter">

    <form id="update_movie" action="update_movie" method="post">
        <h4>Update Movie</h4>
        <br>
        Year: <input type="text" name="year"><br>
        Title: <input type="text" name="title"><br>
        Director: <input type="text" name="director"><br>
        Actor: <input type="text" name="actor"><br>
        Release Date: <input type="text" name="release_date"><br>
        Rating: <input type="text" name="rating"><br>
        <input type="submit" value="Update Movie">
    </form>

    <script type="application/javascript">
      $("#update_movie").submit(function (event) {
        event.preventDefault();
        let inputs = getFormData($("#update_movie"));
        let request = $.ajax({
          type: "POST",
          url: "/update_movie",
          data: inputs
        });
        request
          .done(function (msg) {
            let html_resp = generateResponse("|SUCCESS-update_movie| 200", "green");
            html_resp += generateResponse(msg, 'black');
            $( '#response_message' ).html(html_resp)
          })
          .fail(function (xhr) {
            if (xhr.status == 400){
              $( '#response_message' ).html(generateErrors(
                'update_movie',
                400,
                JSON.parse(xhr.responseText)
              ));
            }
            else {
              let html_resp = generateResponse(
                `|ERROR-update_movie| ${xhr.status} - Internal error`,
                'red'
              );
              html_resp += generateResponse(JSON.parse(xhr.responseText), 'black');
              $( '#response_message' ).html(html_resp);
            }
          })
      })
    </script>

    <div class="footer">
    </div>
</div>
<div class="bodycenter">

    <form id="delete_movie" action="delete_movie" method="post">
        <h4>Delete Movie</h4>
        <br>
        Title: <input type="text" name="delete_title"><br>
        <input type="submit" value="Delete Movie">
    </form>

    <script type="application/javascript">
      $("#delete_movie").submit(function (event) {
        event.preventDefault();
        let inputs = getFormData($("#delete_movie"));
        let request = $.ajax({
          type: "POST",
          url: "/delete_movie",
          data: inputs
        });
        request
          .done(function (msg) {
            let html_resp = generateResponse("|SUCCESS-delete_movie| 200", "green");
            html_resp += generateResponse(msg, 'black');
            $( '#response_message' ).html(html_resp)
          })
          .fail(function (xhr) {
            if (xhr.status == 400){
              $( '#response_message' ).html(generateErrors(
                'delete_movie',
                400,
                JSON.parse(xhr.responseText)
              ));
            }
            else {
              let html_resp = generateResponse(
                `|ERROR-delete_movie| ${xhr.status} - Internal error`,
                'red'
              );
              html_resp += generateResponse(JSON.parse(xhr.responseText), 'black');
              $( '#response_message' ).html(html_resp);
            }
          })
      })
    </script>

    <div class="footer">
    </div>
</div>
<div class="bodycenter">

    <form id="search_movie" action="search_movie" method="get">
        <h4>Search Movie</h4>
        <br>
        Actor: <input type="text" name="search_actor"><br>
        <input type="submit" value="Search Movie">
    </form>

    <script type="application/javascript">
      $("#search_movie").submit(function (event) {
        event.preventDefault();
        let inputs = getFormData($("#search_movie"));
        let request = $.ajax({
          type: "POST",
          url: "/search_movie",
          data: inputs
        });
        request
          .done(function (msg) {
            let html_resp = generateResponse("|SUCCESS-search_movie| 200", "green");
            html_resp += generateResponse(msg, 'black');
            $( '#response_message' ).html(html_resp)
          })
          .fail(function (xhr) {
            if (xhr.status == 400){
              $( '#response_message' ).html(generateErrors(
                'search_movie',
                400,
                JSON.parse(xhr.responseText)
              ));
            }
            else {
              let html_resp = generateResponse(
                `|ERROR-search_movie| ${xhr.status} - Internal error`,
                'red'
              );
              html_resp += generateResponse(JSON.parse(xhr.responseText), 'black');
              $( '#response_message' ).html(html_resp);
            }
          })
      })
    </script>

    <div class="footer">
    </div>
</div>
<div class="bodycenter">

    <h4>Print movie</h4>
    <form id="highest_rating" action="highest_rating" method="get">
        <br>
        <input type="submit" value="Highest Rating movie">
    </form>

    <script type="application/javascript">
      $("#highest_rating").submit(function (event) {
        event.preventDefault();
        let request = $.ajax({
          type: "POST",
          url: "/highest_rating"
        });
        request
          .done(function (msg) {
            let html_resp = generateResponse("|SUCCESS-highest_rating| 200", "green");
            html_resp += generateResponse(msg, 'black');
            $( '#response_message' ).html(html_resp)
          })
          .fail(function (xhr) {
              let html_resp = generateResponse(
                `|ERROR-highest_rating| ${xhr.status} - Internal error`,
                'red'
              );
              html_resp += generateResponse(JSON.parse(xhr.responseText), 'black');
              $( '#response_message' ).html(html_resp);
          })
      })
    </script>

    <form id="lowest_rating" action="lowest_rating" method="get">
        <br>
        <input type="submit" value="Lowest Rating movie">
    </form>

    <script type="application/javascript">
      $("#lowest_rating").submit(function (event) {
        event.preventDefault();
        let request = $.ajax({
          type: "POST",
          url: "/lowest_rating"
        });
        request
          .done(function (msg) {
            let html_resp = generateResponse("|SUCCESS-lowest_rating| 200", "green");
            html_resp += generateResponse(msg, 'black');
            $( '#response_message' ).html(html_resp)
          })
          .fail(function (xhr) {
            let html_resp = generateResponse(
              `|ERROR-lowest_rating| ${xhr.status} - Internal error`,
              'red'
            );
            html_resp += generateResponse(JSON.parse(xhr.responseText), 'black');
            $( '#response_message' ).html(html_resp);
          })
      })
    </script>

    <div class="footer">
    </div>
</div>
</body>
</html>
